<a href="https://colab.research.google.com/github/LuisJRubioH/Retos_Python/blob/main/Ejercicios_de_examen_tipo_entrevistas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ejercicio #1  ------------------------------------------------------------------------------**

**What will be the output of the following code?**

In [ ]:
import pandas as pd

In [ ]:
q1 = pd.Series([25,4,31,28],["Ene","feb","Mar","Abi"])
q1=q1+5
print(q1)

Ene    30
feb     9
Mar    36
Abi    33
dtype: int64

**Ejercicio #2**------------------------------------------------------------------------------

**What will be the output of the following code?**

In [ ]:
lista=[1,7,8,12,5,9]
suma =0
for i in lista:
    if i %2 ==0:
      suma=suma+i
print(suma)

20

**Ejercicio #3**------------------------------------------------------------------------------

**What will be the output of the following code?**

In [ ]:
x=10
i=2
while (i<=3):
  j=2
  while j<=4 and i<=2:
      x=x+j
      j=j+1
  i=i+1

print(x)

19

**Ejercicio #4-**-----------------------------------------------------------------------------

**What will be the output of the following code?**

In [ ]:
lista[1:5]

[7, 8, 12, 5]

**Ejercicio #5**  ------------------------------------------------------------------------------

**What will be the output of the following code?**

In [ ]:
x = 1

def test():
  global x
  for x in range(3):
    pass
test()

print(x)

2

**Ejercicio #6**------------------------------------------------------------------------------

**What will be the output of the following code?**

In [ ]:
arr =[1,2,3]
for i in arr:
  arr.remove(i)
print(arr)

[2]

Ejercicio #17------------------------------------------------------------------------------

**What will be the output of the following code?**

In [ ]:
x = [1,2,3]
y = x
y.append(4)
print(x)

[1, 2, 3, 4]

Ejercicio #8 ------------------------------------------------------------------------------

**What will be the output of the following code?**

```python
d ={1:10, 2:20, 3:30}

for k,v in d.items():
  print(k + v, end = " ")

#A. 11 22 33
#B. 10 20 30
#C. 1 2 3
#D. Error

**Solución**

In [ ]:
d ={1:10, 2:20, 3:30}

for k,v in d.items():
  print(k + v, end = " ")

11 22 33

Ejercicio #9------------------------------------------------------------------------------

**What will be the output of the following code?**


```python
for i in range(3):
  continue
  print(i)

  # A. 0 1 2
  # B. None
  # C. 3
  # D. Error

**Solución**

In [ ]:
for i in range(3):
  continue
  print(i)

Ejercicio #10------------------------------------------------------------------------------

**What will be the output of the following code?**

```python
X = (i**2 for i in range(3))
print(next(X))
print(next(X))

# A. 0 4
# B. 1 4
# C. 0 1
# D. Error

**Solución**

In [ ]:
X = (i**2 for i in range(3))
print(next(X))
print(next(X))

0
1

Ejercicio #11------------------------------------------------------------------------------

**What will be the output of the following code?**

```python
count = 0

for i in range(1, 5):
   count += i

print(count)

# A. 5
# B. 10
# C. 15
# D. 20

S**olución**

In [ ]:
count = 0
for i in range(1, 5):
   count += i

print(count)

10

Ejercicio #12------------------------------------------------------------------------------

**What will be the output of the following code?**

In [ ]:
x=[[0] * 3] * 3
x[0][0] = 1
print(x)

[[1, 0, 0], [1, 0, 0], [1, 0, 0]]

Ejercicio #13------------------------------------------------------------------------------

**What will be the output of the following code?**
**What will be the output of the following code?**

```python
a = [1,3,5,6]

x = 0

for i in a:
  if i > 4:
    continue
  x += i

print(x)

# A. 4
# B. 15
# C. 9
# D. 1

**Solución**

In [ ]:
a = [1,3,5,6]

x = 0

for i in a:
  if i > 4:
    continue
  x += i

print(x)

4

Ejercicio #14  ------------------------------------------------------------------------------

**What will be the output of the following code?**

```python
value = 2

for i in range(1, 4):
    value += (i + value)

print(value)

# A. 12
# B. 20
# C. 27
# D. 32

**Solución**

In [ ]:
value = 2

for i in range(1,4):
  value += (i + value)

print(value)

27

Ejercicio #15  ------------------------------------------------------------------------------

**What will be the output of the following code?**

```python
data = [[1,2], [3,4]]

for x,y in data:
    print(x + y, end = " ")

# A. 3 7
# B. 12
# C. [3,7]
# D. Error

*Solución*

In [ ]:
data = [[1,2], [3,4]]

for x,y in data:
    print(x + y, end = " ")

3 7

Ejercicio #16------------------------------------------------------------------------------

*What will be the output of the following code?**

```python
d = {"a":2,"b":4, "c":6}

x = 1

for v in d.values():
    x *= v
print(v)

# A. 12
# B. 24
# C. 48
# D. 60

**Solución**

In [2]:
d = {"a":2,"b":4, "c":6}
x = 1
for v in d.values():
    x *= v
print(x)

48

Ejercicio #17------------------------------------------------------------------------------

*What will be the output of the following code?**

```python
def add(a, b=[]):
  b.append(a)
  return b

print(add(1))
print(add(12))

# A. [1,2] [1,2]
# B. [1] [1,2]
# C. Error

**Solución**

In [8]:
def add(a, b=[]):
  b.append(a)
  return b

print(add(1))
print(add(2))

[1]
[1, 2]

Ejercicio #18  ------------------------------------------------------------------------------